---
import type IssueType from '../types/issue';
import type ArticleType from '../types/article';
import Layout from '../layouts/Layout.astro';
import Issue from '../components/Issue/Issue.astro';

const site = 'Work in Progress';
const title = 'Home - Work in Progress';
const description = 'This is a work in progress blog.';

const issues: IssueType[] = (await Astro.glob('./issues/*.md')).map((issue) => ({
  id: issue.frontmatter.id,
  title: issue.frontmatter.title,
  date: issue.frontmatter.date,
  color: issue.frontmatter.color,
  href: issue.frontmatter.href,
  articles: []
}));
const articles = await Astro.glob('./issues/*/*.md');

const issuesWithArticles: IssueType[] = issues.map((issue): IssueType => {
	const issueArticles: ArticleType[] = articles
		.filter((article) => article.file.includes(`/${issue.href}/`))
		.map((article) => ({
			title: article.frontmatter.title,
			writer: article.frontmatter.writer,
			excerpt: article.frontmatter.excerpt,
			href: article.url,
			category: article.frontmatter.category,
			headline: article.frontmatter.headline
		} as ArticleType));
	return {
		...issue,
		articles: issueArticles
	};
});
---

<Layout
	title={title}
	description={description}
	site={site}
>
	<main class="w-full max-w-[1472px] mx-auto p-0 md:p-10">
		{issuesWithArticles.map((issue) => (
			<Issue issue={issue} />
		))}
	</main>
</Layout>

<script>
import { getMonthAndYear } from "../utils/date";

    function getSectionOnview() {
		const sections = document.querySelectorAll('[data-section]') as NodeListOf<HTMLElement>;
		const buttonIssue = document.getElementById('button-issue');
		const dateIssue = document.getElementById('date-issue');
		const headerPos = window.innerWidth > 768 ? 155 : 113;
      	let visibleDiv: HTMLElement | null = null;

		if(!sections || !buttonIssue || !dateIssue) {
			return;
		}
		
		sections.forEach((section) => {
			const rect = section.getBoundingClientRect();
			if (rect.top <= 155 && rect.bottom >= headerPos) {
				visibleDiv = section;
			}
		});

		if (visibleDiv && (visibleDiv as HTMLElement).dataset.section) {
			const issue = (visibleDiv as HTMLElement).dataset.section;
			const date = (visibleDiv as HTMLElement).dataset.date;

			if(!issue || !date) {
				return;
			}

			const dateFormatted = getMonthAndYear(date);
			const title = issue.replace('section-', '');

			buttonIssue.innerHTML = title;
			dateIssue.innerHTML = dateFormatted;
		}
    }

    window.addEventListener("scroll", getSectionOnview);
    window.addEventListener("load", getSectionOnview);
</script>
