---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;

const site = 'Work in Progress';
const title = `Blog - ${frontmatter.title}`;

---

<Layout
    title={title}
    description={frontmatter.description}
    site={site}
>
    <div class="h-screen w-full flex items-center justify-center">
        <h1 class="text-4xl font-bold text-center">
            {frontmatter.title}
        </h1>
    </div>
    <slot />
</Layout>