---
import icons from  '../utils/icons';
import { issues, navFooter, navs, links } from '../utils/contents';

import Header from '../components/Header/Header.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="p-0 m-0">
		<Header 
			title={title} 
			logo={icons.logo} 
			issues={issues} 
			arrow={icons.arrow} 
			navs={navs} 
			pittogramma={icons.pittogramma}
			links={links}
			navFooter={navFooter}
		/>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'GTAmericaMonoLight';
		src: url('/fonts/GTAmericaMonoLight.woff2') format('woff2');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	:root {
		--bg: #FFF7F3;
		--text: #000;
		--secondary: #F4CF6F;
	}
	* {
		box-sizing: border-box;
	}
	body {
		background-color: var(--bg);
		color: var(--text);
		font-family: sans;
	}
</style>
